---
# For configuration options and examples, please see:
# https://gethomepage.dev/configs/services/

- Critical Services:
    - Uptime Kuma:
        href: https://status.andywebservices.com
        description: Status Monitoring Page
        widget:
          type: uptimekuma
          url: https://uptime.andywebservices.com
          slug: default
